@using RecordKeeperBizObjects
@model List<bizPresident>
@{
    bizPresident prez = Model[0];
}
@{
    ViewData["Title"] = "Presidents";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>US Gov List of Presidents</h1>
        <h2>Num of Presidents = @Model.Count()</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @foreach (bizPresident p in Model)
            {
                <tr>
                    <td><img src="/images/@(p.Num).jpeg" style="width:100px" /></td>
                    <td>@Html.ActionLink(p.Num.ToString(), "President", new{id = p.Code})</td>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                </tr>
            }
        </table>
    </div>
</div>

<h3>First President: @prez.Num.@prez.FirstName.@prez.LastName</h3>